<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to My Website</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    #logo 
    {
      position: absolute;
      bottom: 30px;
      right: 30px;
    }

    #logo 
    img 
    {
      width: 100px; /* Adjust the width as needed */
      height: auto; /* This will maintain the aspect ratio */
    }

    #welcome-text 
    {
      font-size: 48px;
      color: black;
    }
  </style>
</head>
<body>
  <div id="welcome-text">Hello Rails !</div>
  <div id="logo">
    <!-- Replace the URL with the path to your logo or copyright image -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png" alt="Logo">
  </div>
</body>
</html>
